<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>База дисков</title>
</head>
<body>

<h1>Мои диски</h1>

<a href="/add">Добавить</a>

<!-- Тк при поиске мы не отправялем данные, а просто хотим уточнить, что мы хотим получить, используем method=GET -->
<!-- В GET запросе тоже можно передавать параметры, они будут добавлять прямов адресную строку после ? -->
<!-- После нажатия кнопки браузер перейдет по адресу /?search=ТОЧТОИЩЕМ -->
<form method="get" action="/">
    <input name="search" type="text" placeholder="Название или исполнитель..." value="{{ query }}"><button>Поиск</button>
</form>

<!-- TODO 1: выведи список всех дисков в виде таблицы http://htmlbook.ru/html/table -->
<!-- TODO 2: для каждой позиции добавь ссылки на изменение и удаление

</body>
</html>