<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        console.log("Hello world!")
        alert("Добро пожаловать в курс по JS")
        var answer = prompt("Введи возраст")

        if (answer < 18)
        {
            alert("Тебе пока нельзя учить JS!")
        }
        else {
            if (confirm("Вы уверены, что хотите?"))
            {
                alert("Ну ладно")
            }
            else {
                alert("Хороший выбор")
            }

        }
    </script>
</head>
<body>
<h1>Hello!</h1>
</body>
</html>