<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Актуальные новости</title>
</head>
<body>

<h1>Актуально сегодня...</h1>

<ul>
    <!-- Перебираем все новости и выводим их заголовки -->
    {% for topic in news %}
        <!-- Чтобы узнать порядковый номер элемента списка в цикла, используем специальную переменную loop.index0 -->
        <!-- target="_blank" нужен чтобы страница открывалась в новой вкладке -->
        <li><a href="/news/{{ loop.index0 }}" target="_blank">{{ topic['name'] }}</a></li>
    {% endfor %}
</ul>
</body>
</html>